
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Info</title>
</head>
<body>
<h2>All Product Details</h2>
<table>
    {% for item in users %}
    <tr>
        <td><b>Name:</b>{{ item.name }}</td>
        <td><b>Weight:</b> {{ item.weight }}</td>
        <td><b>Price:</b> {{ item.price }}</td>
        <td><b>Created_at:</b> {{ item.created_at }}</td>
        <td><b>Updated_at:</b> {{ item.updated_at }}</td>
        <td><button onclick="window.location.href = '/info/';">Update</button></td>
    </tr>
    <tr>
    <td colspan="2" class="divider"><hr/></td>
</tr>
    {% endfor %}
</table>

</body>
</html>

